<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <p-button
        (click)="showDialog()"
        label="New"
        icon="pi pi-plus"
        class="mr-2"
      ></p-button>
    </div>
    <div class="p-toolbar-group-right">
      <span class="p-input-icon-left mb-2 md:mb-0">
        <i class="pi pi-search"></i>
        <input
          type="search"
          pInputText
          placeholder="Recherche par nom"
          (input)="p.filterGlobal($any($event.target).value, 'contains')"
        />
      </span>
    </div>
  </p-toolbar>

  <p-table
    #p
    [value]="listePersonne"
    styleClass="p-datatable-striped"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [(first)]="first"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 20, 30]"
    [globalFilterFields]="['nom','age']"
    class="center"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>N°</th>
        <th>Nom</th>
        <th>Prenoms</th>
        <th>Age</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-personne>
      <tr>
        <td>{{ personne.id }}</td>
        <td>{{ personne.nom }}</td>
        <td>{{ personne.prenoms }}</td>
        <td>{{ personne.age }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deletePersonne(personne.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="Information Personne"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '20vw' }"
  styleClass="p-fluid"
  [draggable]="false"
>
<ng-template pTemplate="content">
    <form [formGroup]="formpersonne">
      <br>
      <div class="p-float-label">
        <input
          pInputText
          id="nom"
          [(ngModel)]="personne.nom"
          required
          autofocus
        />
        <label htmlFor="nom">Nom</label>
        <small class="p-invalid" *ngIf="submitted && !personne.nom"
          >Champ obligatoire</small
        >
      </div>
      <br>
      <div class="p-float-label">
        <input
          pInputText
          id="prenom"
          [(ngModel)]="personne.nom"
          required
          autofocus
        />
        <label htmlFor="prenom">Premon</label>
        <small class="p-invalid" *ngIf="submitted && !personne.prenom"
          >Champ obligatoire</small
        >
      </div>
      <br>
      <div class="p-float-label">
        <input
          pInputText
          id="age"
          [(ngModel)]="personne.nom"
          required
          autofocus
        />
        <label htmlFor="age">Age</label>
        <small class="p-invalid" *ngIf="submitted && !personne.nom"
          >Champ obligatoire</small
        >
      </div>
    </form>
</ng-template>
<ng-template pTemplate="footer">
  <button
    pButton
    pRipple
    label="Cancel"
    icon="pi pi-times"
    class="p-button-text"
  ></button>
  <button
    pButton
    pRipple
    label="Save"
    icon="pi pi-check"
    class="p-button-text"
  ></button>
</ng-template>

</p-dialog>
